<h1>Shifts</h1>

<%= link_to 'New Shift', new_shift_path %>

<%= month_calendar attribute: :date, date: @date do |date| %>
  <% shifts = @shifts_by_date[date] %>
  <% if shifts %>
    <% shifts.each do |shift| %>
      <%= link_to shift.employee.name, edit_shift_path(shift) %>
      <br>
    <% end %>
  <% end %>
<% end %>
