<h1>Salaries</h1>

<%= link_to 'Edit Base Rate', edit_base_rate_salaries_path %>

<table class="table">
  <thead>
    <tr>
      <th>従業員名</th>
      <th>給与</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= @salaries[employee.id] %></td>
      </tr>
    <% end %>
  </tbody>
</table>