<h1>出退勤記録</h1>

<table>
  <thead>
    <tr>
      <th>従業員ID</th>
      <th>日付</th>
      <th>出退勤ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.employee_id %></td>
        <td><%= attendance.date %></td>
        <td><%= attendance.attendance_status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
